@model admin_sweetsoft_tech_support.Models.TblRequestTransfer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblRequestTransfer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferredAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDepartment.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDepartment.DepartmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransferredByNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransferredByNavigation.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TransferId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
